#error {
	color: red;
	font-style: italic;
}

.title {
	font-weight: bold;
	font-size: 150%;
	padding: .5em;
	display: inline-block;
	cursor: pointer;
}

.score {
	display: inline-block;
}

.extract {
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	color: #999;
	white-space: nowrap;
	max-width: 100%;
}

.missing {
	color: #f99;
}
