.main {
	margin-left: 20%;
	margin-right: 20%;
}

#category {
	font-size: 150%;
	padding: .5em;
}

.ui-menu .ui-menu-item {
	font-size: 150%;
}

#article_list {
	padding-top: 1em;
}

#error {
	color: red;
	font-style: italic;
}

#article_container {
	position: relative;
}

#spinner {
	background: rgba(255,255,255,0.5) url(lib/loading.io-spinner.svg) center center no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	min-height: 10em;
	right: 0;
	display: none;
}

.title {
	font-weight: bold;
	font-size: 150%;
	padding: .5em;
	display: inline-block;
	cursor: pointer;
}

.score {
	display: inline-block;
}

.extract {
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 0;
	position: relative;
	display: inline-block;
	color: #999;
	white-space: nowrap;
	max-width: 100%;
}

.extract:hover {
	z-index: 1;
	display: block;
	background-color: white;
	border-style: solid;
	border-width: thin;
	padding: 1em;
	top: -1em;
	left: -1em;
	color: black;
	white-space: normal;
	overflow: auto;
	text-overflow: auto;
}

.missing {
	color: #f99;
}

.footer {
	z-index: -1;
	bottom: 0;
	right: 0;
	position: fixed;
	margin: 2em;
}
