.main {
	margin-left: 20%;
	margin-right: 20%;
}

#error {
	color: red;
	font-style: italic;
}

.title {
	font-weight: bold;
	font-size: 150%;
	padding: .5em;
	display: inline-block;
	cursor: pointer;
}

.score {
	display: inline-block;
}

.extract {
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 0;
	position: relative;
	display: inline-block;
	color: #999;
	white-space: nowrap;
	max-width: 100%;
}

.extract:hover {
	z-index: 1;
	display: block;
	background-color: white;
	border-style: solid;
	border-width: thin;
	padding: 1em;
	top: -1em;
	left: -1em;
	color: black;
	white-space: normal;
	overflow: normal;
	text-overflow: auto;
}

.missing {
	color: #f99;
}
